.package-detailed {
    color: whitesmoke;
    width: 100%;
    height: 100%;
    overflow: auto;

    &__banner {
        width: 100%;
        height: 200px;
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &__inner {
            width: 100%;
            height: 100%;

            // background-color: rgba(0, 0, 0, .3);
            //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(50,63,75,0.8));

            &--name {
                position: relative;
                top: 125px;
               
                padding-left: 20px;
                font-weight: 600;
            }

            &--description {
                position: relative;
                top: 120px;
                padding-left: 20px;
                font-size: 1.2em;
                font-weight: normal;
            }
        }
    }

    &__content {
        padding: 20px;
    }
}

.button {
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 120px;
    // border: 1px solid grey;
    color: black;
    text-decoration: none;
    font-weight: bold;

    &--install {
        background-color: rgb(100, 255, 113);
    }

    &--remove {
        background-color: rgb(173, 173, 173);
    }

    &--update {
        background-color: rgb(255, 195, 85);
    }
}