<div class="package-detailed">
    <div class="package-detailed__banner" [ngStyle]="{'background-image':'url('+package.illustration+')'}">

        <div *ngIf="package.isCustomPackage || package.isOnlinePackage" class="edit-buttons">
            <a *ngIf="package.isCustomPackage" href class="edit-buttons__button edit-buttons__button__edit"
                [routerLink]="['/create-package', package.id]">
                <fa-icon [icon]="faPencilAlt"></fa-icon>
            </a>
            <a *ngIf="package.isCustomPackage" href class="edit-buttons__button edit-buttons__button__export"
                [routerLink]="['/export-package', package.id]">
                <fa-icon [icon]="faArrowDown"></fa-icon>
            </a>
            <a href class="edit-buttons__button edit-buttons__button__delete"
                (click)="removePackage()">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </a>
        </div>

        <div class="package-detailed__banner__inner">
            <div class="install-button">
                <a href *ngIf="package.state === 1" class="button button--remove" (click)="remove()">Remove</a>
                <a href *ngIf="package.state === 2" class="button button--update" (click)="update()">Update</a>
                <span *ngIf="package.state === 3">Error</span>
                <a href *ngIf="package.state === 4 || package.state === 8" class="button button--install" (click)="install()">Install</a>
                <a *ngIf="package.state === 5 || package.state === 6 || package.state === 7"
                    class="button button--working">{{getWorkingInfo()}}</a>
            </div>         

            <h1 class="package-detailed__banner__inner--name">{{package.name}}</h1>
            <h2 class="package-detailed__banner__inner--description">{{package.description}}</h2>


        </div>
    </div>

    <div class="package-detailed__content">
        <div class="version-bar">
            <div class="version">
                <div class="version__title">Installed</div>
                <div class="version__content">{{cleanUpVersion(package.localVersion)}}</div>
            </div>

            <div class="version">
                <div class="version__title">Available</div>
                <div class="version__content">{{cleanUpVersion(package.availableVersion)}}</div>
            </div>

            <div class="release-date">
                <span class="release-date__title">Release date</span><br/>
                <span class="release-date__date"><a href="{{package.html_url}}" target="_blank" class="release-date__date--link">{{ package.publishedAt | date:'yyyy/MM/dd' }}</a></span>
            </div>

            <a href="https://github.com/{{package.githubOwner}}/{{package.githubRepo}}" target="_blank" class="version__github">
                <fa-icon class="version__github--icon" [icon]="faGithub"></fa-icon>
            </a>

            <!-- <div class="install-button">
                <a href *ngIf="package.state === 1" class="button button--remove" (click)="remove()">Remove</a>
                <a href *ngIf="package.state === 2" class="button button--update" (click)="update()">Update</a>
                <a href *ngIf="package.state === 4" class="button button--install" (click)="install()">Install</a>
            </div> -->
        </div>
        
        <div *ngIf="package.state === 8" class="untracked">
            An old package was found but wasn't installed with this tool, please reinstall the mod to get proper version tracking.<br/>
        </div>

        <h3>Summary</h3>
        <p>
            <span innerHtml="{{package.summary}}"></span><br />
            <br />
        </p>

        <h3>Links</h3>
        <a class="link" href="https://github.com/{{package.githubOwner}}/{{package.githubRepo}}" target="_blank">Github Repository</a><br />
        <a *ngIf="package.webpageUrl" class="link" href="{{package.webpageUrl}}" target="_blank">Official Webpage</a>

    </div>
</div>