.list-editor {
    position: relative;

    color: whitesmoke;
    // background-color: #0d1117;
    //background-color: red;
    height: 100%;

    &__content {
        height: 100%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }
}

.captions {
    // outline: 1px dashed greenyellow;
    
    height: 60px;
    margin-bottom: 10px;

    &__icon {
        font-size: 18px;
        position: relative;
        top: 1px;
    }

    &__entry {

    }
}

.package-list {
    // outline: 1px dashed yellow;
    
    height: calc(100% - 50px);
    overflow: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
        width: 12px;
        /* width of the entire scrollbar */

        &-track {
            background: #1a1a1a;
            /* color of the tracking area */
        }
    
        &-thumb {
            background-color: rgb(74, 74, 95);
            /* color of the scroll thumb */
            border-radius: 20px;
            /* roundness of the scroll thumb */
            border: 3px solid #24272e;
            border: 3px solid #1a1a1a;
    
            /* creates padding around scroll thumb */
        }
    }

    
}