<div class="package" [class.package__selected]="package.isSelected">
    <!-- <fa-icon class="package__icon" [icon]="faArrowDown"></fa-icon> -->
    <!-- <fa-icon class="package__icon package__icon--working" [icon]="faArrowDown"></fa-icon> -->
    <fa-icon class="package__icon package__icon--update" [icon]="faArrowDown"></fa-icon>
    <!-- <fa-icon class="package__icon package__icon--check" [icon]="faCheck"></fa-icon>-->

    <div class="package__title">{{package.name}}</div>
    <div class="package__state">{{getState(package.state)}}</div>    
</div>
