.package {
    height: 75px;
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 15px;
}

.link {
    float: right;
    display: block;
    padding: 5px;
    margin-left: 10px;
    color: #bbbbbb;

    &__icon {
        font-size: 25px;
    }

    &:hover {
        color: white;
    }

    &__removed {
        color: rgb(255, 117, 117);

        &:hover {
            color: red;
        }
    }
}