<div class="add-package">
    <div class="add-package__content">
        <a href class="close" routerLink="/">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>
       
        <div class="left-column">
            <h1 class="left-column__title">Community Packages</h1>

            <div class="package-list">
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
                <div class="package-list__package"></div>
            </div>
        </div>

        <div class="right-column">
            <a href class="button" routerLink="/create-package">
                Create a new Package
            </a>
            <a href class="button" [routerLink]="['/import-package', 'file']">
                Import Json file Package
            </a>
            <a href class="button" [routerLink]="['/import-package', 'json']">
                Import Text Package
            </a>     
        </div>
    </div>
</div>