<div class="add-package">
    <div class="add-package__content">
        <a href class="button" routerLink="/create-package">
            Create a new Package
        </a>
        <a href class="button" [routerLink]="['/import-package', 'json']">
            Import Json file Package
        </a>
        <a href class="button" [routerLink]="['/import-package', 'file']">
            Import Text Package
        </a>
        <a href class="button button--cancel"routerLink="/home">
            Cancel
        </a>
    </div>
</div>