// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
// }

// body {   
//     box-sizing: border-box;
//     text-align: start;
// }

// html, body {
//     width: 100%;
//     height: 100%;
  
//     font-family: 'Roboto', sans-serif;
//     //font-size: $default-font-size;     
  
//     overflow: hidden;
//   }
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #0d1117;
}

body {
    // border: 1px solid #48545c;
    box-sizing: border-box;
    text-align: start;
    overflow-y: hidden;
}


// .container {
//     // height: calc(100% - 27px);
// }

/* CAN (MUST) BE REMOVED ! Sample Global style */
// .container {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     background: url(./assets/background.jpg) no-repeat center fixed;
//     -webkit-background-size: cover;
//     /* pour anciens Chrome et Safari */
//     background-size: cover;
//     /* version standardisée */

//     .title {
//         color: white;
//         margin: 0;
//         padding: 50px 20px;
//     }

//     a {
//         color: #fff !important;
//         text-transform: uppercase;
//         text-decoration: none;
//         background: #ed3330;
//         padding: 20px;
//         border-radius: 5px;
//         display: inline-block;
//         border: none;
//         transition: all 0.4s ease 0s;

//         &:hover {
//             background: #fff;
//             color: #ed3330 !important;
//             letter-spacing: 1px;
//             -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
//             -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
//             box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
//             transition: all 0.4s ease 0s;
//         }
//     }
// }