<!-- <div class="container"> -->
<div class="left-bar">
    <div class="packages">
        <ng-container *ngFor="let p of packages">
            <app-package-mini [package]="p" ></app-package-mini>
        </ng-container>        
    </div>

    <a class="settings" routerLink="/detail">
        Settings
    </a>
</div>

<div class="package-content">

</div>

<!-- <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
<!-- </div> -->