<!-- <div class="container"> -->
<div class="left-bar">
    <div class="column-header">
        <a class="column-header__add-package" routerLink="/add-package">
            <fa-icon class="column-header__add-package__icon" [icon]="faPlusSquare"></fa-icon> Add Package
        </a>
    </div>

    <div class="packages">
        <ng-container *ngFor="let p of packages">
            <a href (click)="selectPackage(p)" class="packages__link">
                <app-package-mini [package]="p"></app-package-mini>
            </a>
        </ng-container>
    </div>

    <div class="column-footer">
        <a class="settings" routerLink="/settings">
            Settings
        </a>
        <a href class="refresh" (click)="refresh()">
            <fa-icon class="package__icon package__icon--update" [icon]="faSyncAlt"></fa-icon>
        </a>
    </div>
</div>

<div class="package-content">  
    <app-package-detailed *ngIf="selectedPackage" [package]="selectedPackage"></app-package-detailed>
</div>

<div *ngIf="isGithubRateLimited" class="is-github-rate-limited">
    <span class="is-github-rate-limited__title">Oh Noz!</span><br/>
    You're Github rate limited.<br/>
    Please refresh later.
</div>

<!-- <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

    <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
<!-- </div> -->