:host {
    // height: 100%;
}

.left-bar {
    position: fixed;
    top: 35px;
    left: 0;
    bottom: 0;
    width: 250px;

    // border-right: 1px solid #3f4d68;

    background-color: #090c10;
    background-color: #1f2933;

    background-color: #1a1a1a;
    background-color: #24272e;
}

.package-content {
    // outline: greenyellow 1px dotted;
    position: fixed;
    top: 35px;
    right: 0;
    left: 250px;
    bottom: 0;

    // float: right;
    // margin-left: 253px;
    // width: calc(100% - 253px);
    // height: 100%;

    background-color: #0d1117;
    background-color: rgb(45, 57, 68);

    background-color: #1a1a1a;
    background-color: #282c34;
    background-color: #353944;
}

.packages {
    position: fixed;
    top: calc(35px + 42px);
    left: 0;
    bottom: 42px;
    width: 250px;

    overflow: auto;

    &__link {
        text-decoration: none;
    }
}


.packages::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.packages::-webkit-scrollbar-track {
    background: #24272e;
    /* color of the tracking area */
}

.packages::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 95);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #24272e;
    /* creates padding around scroll thumb */
}

.column-header {
    position: fixed;
    top: 35px;
    left: 0;
    height: 42px;
    width: 250px;
    border-bottom: 1px solid #424e58;

    &__add-package {
        display: inline-block;
        width: 250px;
        padding: 10px 20px;

        color: #838fa3;
        color: whitesmoke;
        color: #a4acb8;

        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: white;
        }

        &__icon {
            padding-right: 5px;
        }
    }
}

.column-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 250px;
    border-top: 1px solid #424e58;
}

.settings {
    display: inline-block;
    width: calc(250px - 42px - 2px);
    padding: 10px 20px;

    color: #626c7c;
    color: #838fa3;
    font-weight: bold;
    text-decoration: none;

    // border-right: 1px solid #424e58;

    // border-top: 1px solid #131922;


    &:hover {
        color: white;
    }
}

.refresh {
    display: inline-block;
    padding: 10px 0 0 9px;
    width: 39px;
    color: #838fa3;

    &:hover {
        color: white;
    }
}

.is-github-rate-limited {
    z-index: 9999;
    position: absolute;
    top: 75px;
    right: 30px;
    padding: 10px 20px;

    background-color: rgb(141, 14, 14);
    color: white;

    border: 1px solid white;
    border-radius: 3px;

    &__title {
        font-weight: bold;
    }
}

.package-not-found {
    color: #838fa3;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;

    &:hover {
        color: white;
    }
}