<div class="settings">
    <div class="settings__content">
        <a href class="close" routerLink="/">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>
        <h1>Settings</h1>

        <h3>Community Folder Path</h3>
        <p>Please select your MSFS Community folder.</p>
        <input [(ngModel)]="communityPath" type="text" autocomplete="off" class="folder-path" readonly />
        <a href class="button" (click)="findCommunityPath()">
            Select
        </a>

        <br />
        <br />
        <h3>Software</h3>
        <p>
            Current version: {{version}}<br />
            Find updates on <a href="https://github.com/NicolasConstant/msfs-community-downloader" target="_blank"
                class="link">Github</a>
        </p>
        <!-- <br />
        <a class="close" routerLink="/">
            Close
        </a> -->
    </div>
</div>