<div class="settings">
    <div class="settings__content">
        <a href class="close" routerLink="/">
            <fa-icon [icon]="faTimes"></fa-icon>
        </a>
        <h1>Settings</h1>

        <h3>Community Folder Path</h3>
        <p>Please select your MSFS Community folder.</p>
        <input [(ngModel)]="communityPath" type="text" autocomplete="off" class="folder-path" readonly />
        <a href class="button button--select" (click)="findCommunityPath()">
            Select
        </a>

        <p *ngIf="!isCommunity"><br/>
            <span class="orange">WARNING: THIS IS NOT A COMMUNITY FOLDER</span><br/>
            If you're using tools like Addon Linker that's ok but if not, I hope you know what you're doing.
        </p>
        <br />
        <br />
        <h3>Software</h3>
        <p>
            Current version: {{version}}<br />
            <br />
            Find updates on <a href="https://github.com/NicolasConstant/msfs-community-downloader" target="_blank"
                class="link">Github</a>
            <br/>
            Support the development on <a href="https://patreon.com/nicolasconstant" target="_blank" class="link">Patreon</a><br/>
            Get sneak peeks on <a href="https://discord.gg/ANXAx3tx9B" target="_blank" class="link">Discord</a>
            <br/>
            <br/>
        </p>
        <h3>Reset Settings</h3>
        <p>
            If you want to reset all your settings.
        </p>
        <a href class="button" (click)="resetSettings()">
            Reset
        </a>
        <!-- <br />
        <a class="close" routerLink="/">
            Close
        </a> -->
    </div>
</div>