:host {}

.settings {
    color: whitesmoke;
    // background-color: #0d1117;
    // background-color: #0d1117;
    height: 100%;

    &__content {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }
}


.close {
    float: right;

    width: 33px;
    height: 33px;

    // display: inline-block;
    color: whitesmoke;
    border: 2px solid rgb(58, 58, 59);
    border-radius: 100px;
    // padding: 5px 5px;
    text-decoration: none;
    // margin-top: 30px;

    & fa-icon {
        position: relative;
        top: 4px;
        left: 9px;
    }

    &:hover {
        background-color: rgb(58, 58, 59);
    }
}

.folder-path {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    width: calc(100% - 100px);
    height: 33px;
}


// .button {
//     position: relative;
//     top: 1px;
//     left: -5px;
//     width: 95px;
//     display: inline-block;
//     color: whitesmoke;
//     border: 1px solid rgb(50, 57, 75);
//     border-width: 1px 1px 1px 0;
//     border-radius: 3px 3px 0 0;
//     padding: 5px 20px;
//     text-align: center;
//     text-decoration: none;
//     // margin-top: 30px;
// }

.button {
    width: 95px;
    display: inline-block;
    color: whitesmoke;
    border: 1px solid rgb(50, 57, 75);
    border-width: 1px;
    border-radius: 3px 3px 0 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;

    &--select {
        position: relative;
        top: 1px;
        left: -5px;
        border-width: 1px 1px 1px 0;
    }
}


.link {
    color: gray;

    &:hover {
        color: white;
    }
}